body {
    background-image: url("beans.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    color: #000;
}

.form-container {
    background-color: #D2A679;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #3E2723;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    color: #5D4037;
    font-size: 1.2em;
    font-style: italic;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 12px; 
    color: #5D4037;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #8D6E63;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    color: #8D6E63;
    font-size: 1em;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #8D6E63;
    border-radius: 4px;
    background-color: #F5F5F5;
    color: #8D6E63;
    font-size: 1em;
    resize: vertical; 
}

input[type="submit"] {
    background-color: #3E2723;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 30px; 
}

input[type="submit"]:hover {
    background-color: #5D4037;
}

fieldset {
    border: none;
    border-bottom: 5px solid #5D4037;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

fieldset:last-of-type {
    padding-bottom: 25px; 
    margin-bottom: 10px;  
    border-bottom: none;
}

legend {
    font-size: 1.2em;
    color: #5D4037;
}

